*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background_color: #00ffaa;
  --button_color: #8AEB5A;
  --transition_color: #00238c;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--background_color);
  background-image: url("../img/Kaapstad_map_V3.jpg");
}

h2{
  text-align: center;
}

a{
  font-size: 1.5rem;
  font-family: sans-serif;
  color: white;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 2.5rem;
}

a:hover{
  color: black;
}

.intro_titel{
  font-size: 40px;
  text-align: center;
  margin-top: 7vh;
  margin-bottom: 3vh;
  color: white;
  font-family: sans-serif;
}
.intro_Button{
  width: 80%;
  height: 70px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 4rem;
  background-color: var(--button_color);
  background-image: url("../img/wavecut.png");
  z-index: 1;
}

/* wijk afbeelding probeersel */

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
}
/*DOE GEEN POSITION RELATIVE WANT DAT VERNEUKT DE HOVER HELEMAAL*/

.image_Pin {
  display: flex;
  position: absolute;
  width: 20%;
  height: 60%;
  top: 20%;
  right: 50%;
  z-index: 2;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .3s ease;
  background-color: grey;
}

.container:hover .overlay {
  opacity: 0.7;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}

.box_Kaart_Tekst{
  padding: 0px;
  border: 5px solid white;
  margin: 10px;
  background-color: #5978CE;
}

.box_Kaart_Tekst_Tekst{
  padding: 20px;
  margin-left: 0;
  margin-right: 0;
  border-top: 5px solid white;
  margin: 0;
  background-color: white;
}
.kaart_Tekst{
  margin: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
}

.kaart_Desc{
  margin: 0;
  color: black;
  font-size: 15px;
  text-align: left;
  font-family: sans-serif;
}

.wijk_Button{
    width: 80%;
    height: 70px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    font-size: 2rem;
    background-color: var(--button_color);
    background-image: url("../img/wavecut.png");
    z-index: 1;
  }

.wijk_1_figure{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.wijk_1_foto{
  height: 80%;
  width: 100%;
  transition: ease 0.5s;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
}

.wijk_1_text{
  font-size: 16px;
  font-family: sans-serif;
  color: white;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 2.5rem;
}

.wijk_2_img_text{
  text-align: center;
  font-size: 1.3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.wijk_2_text{
  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

.minigame_titel{
  font-size: 20px;
  font-family: sans-serif;
  color: green;
}


.wijk_1_2_foto{
  height: 80%;
  width: 100%;
  transition: ease 0.5s;
  opacity: 0;
  display: block;
  backface-visibility: hidden;
}

.wijk_2_minigame_foto_1{
  height: 30vh;
  width: 100%;
  margin-top: 2vh;
  transition: ease 0.5s;
  opacity: 1;
  display: block;
  backface-visibility: hidden;
}


.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .wijk_1_2_foto {
  opacity: 1;
}

.container:hover .middle {
  opacity: 0;
}

.wijk2_Button{
  width: 80%;
  height: 70px;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 4rem;
  background-color: var(--button_color);
  background-image: url("../img/wavecut.png");
  z-index: 1;
}

.wijk_Minigame_Button{
  width: 20%;
  height: 70px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  font-size: 2rem;
  background-color: var(--button_color);
  background-image: url("../img/wavecut.png");
  z-index: 1;
}

#countdown{
  font-size: 42px;
  position: center;
  font-family: sans-serif;
  margin-left: 20%;
  margin-right: 20%;
}

#container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 150px;
  width: 300px;
  height: 480px;
  background: #fff;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 2px 2px 24px #000;
}

#image_drag{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 480px;
  border-radius: 6px;
}

.eind_Button{
  width: 80%;
  height: 70px;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  font-size: 2rem;
  background-color: grey;
  background-image: url("../img/wavecut.png");
  z-index: 1;
  color: rgb(241, 241, 241);
}

.intro_Button{
  width: 32rem;
  height: 7rem;
  position: relative;
  margin-top: 5rem;
  font-size: 2rem;
  background-color: var(--button_color);
  background-image: url("../img/wavecut.png");
  z-index: 1;
  color: white;
}

/*deze css is voor de slider op wijk 1 minigame html*/

.vergelijkingsfoto{
  position: relative;
  width: 35rem;
  height: 35rem;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.5rem;
}

.img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 35rem 100%;
}

.background_img{
  background-image: url('../img/vergelijkingsfoto\ 1.jpg');
}

.foreground_img{
  background-image: url('../img/vergelijkingsfoto\ 2.jpg');
  width: 50%;
}

.slider{
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0%;
  background: rgba(#f2f2f2, .3);
  outline: none;
  margin: 0;
  transition: all 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider:hover{
  background: rgba(#f2f2f2, .1);
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 35rem; /*deze moet je aanpassen voor de hoogte van de slider*/
  background: white;
  cursor: pointer;
}
